.root-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.root-container {
    flex: 1;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.root-content {
    padding-top: 20px;
}

.root-comments {
    max-width: 100%!important;
}
.root-dangerous-content-html img {
    max-width: 100%; height: auto;
}
.root-dangerous-content-html p {
    line-height: 1.7em;
}
.root-dangerous-content-html .ql-syntax {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}
.root-dangerous-content-html .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}
.root-dangerous-content-html .ql-align-justify {
    text-align: justify;
}
.root-tag-asside .item {
    padding: .62857143em 0.44285714em!important;
}

.tagget-content .ui.horizontal.label {
    margin: .5em .5em .5em 0
}

.ui .header a {
    text-decoration: none;
    color: rgba(0,0,0,.87)
}

.post_cover_image{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.themedlink {
    transition: 0.2s color ease
}

.themedlink.dark {
    color: #ffffff!important;
}

.ui.fluid.card.dark {
    background-color: rgb(34, 39, 46);
    box-shadow: 0 1px 3px 0 rgb(68 76 86), 0 0 0 1px rgb(68 76 86);
}

.ui.threaded.comments .comment .comments.dark {
    box-shadow: -1px 0 0 rgb(255 255 255 / 15%);
}

.quill {
    background-color: #ffffff;
}

.root-dangerous-content-html .ql-syntax {
    background-color: transparent!important;
}